<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAJM0d-JeWdg3j-Hniw75T1NO3rGFnYKYo</string>
	<key>GCM_SENDER_ID</key>
	<string>148788283090</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gaopticalsolutions.Push-Notification</string>
	<key>PROJECT_ID</key>
	<string>teste-push-notification-21807</string>
	<key>STORAGE_BUCKET</key>
	<string>teste-push-notification-21807.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:148788283090:ios:af2d2df0830cb3f9520f0b</string>
</dict>
</plist>